{% load static %}
<link rel="preconnect" href="http://fonts.googleapis.com">
<link rel="preconnect" href="http://fonts.gstatic.com" crossorigin>
<link href="http://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link href="{% static 'manager/css/sb-admin-2.css' %}" rel="stylesheet">
<link href="{% static 'manager/css/default.css' %}" rel="stylesheet">
<link href="{% static 'manager/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'manager/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">