{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'manager/js/sb-admin-2.js' %}"></script>
<script src="{% static 'manager/vendor/jquery/jquery.min.js'%} "></script>
<script src="{% static 'manager/vendor/bootstrap/js/bootstrap.bundle.min.js'%} "></script>
<script src="{% static 'manager/vendor/jquery-easing/jquery.easing.min.js'%} "></script>
<script src="{% static 'manager/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'manager/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>