{% extends 'manager/include/include.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">심폐기능검사 기록</h1>
    <p class="mb-4">상세 기록</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">검사 정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th>COUNT</th>
                                <th>좌(최소) 각도</th>
                                <th>좌(최대) 각도</th>
                                <th>우(최소) 각도</th>
                                <th>우(최대) 각도</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for count, values in data.logData %}   
                            <tr class="odd">
                                <td class="sorting_1">{{count}}</td>
                                <td>{{values.0}}</td>
                                <td>{{values.1}}</td>
                                <td>{{values.2}}</td>
                                <td>{{values.3}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block js %}
{% endblock js %}
