{% extends 'manager/include/include.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">근기능 정보</h1>
    <p class="mb-4">검사 목록</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">검사 정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <table class="table table-bordered table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>사용자</th>
                                <th>수행일시</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for walk in data %}   
                            <tr class="odd">
                                <td>{{walk.id}}</td>
                                <td>{{walk.get_user_name}}</td>
                                <td>{{walk.created_at}}</td>
                                <td style="text-align : center;"><a class="" 
                                       href="{{walk.get_absolute_url}}" 
                                    >상세조회</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script>
    {% comment %} $("#dataTable").DataTable(); {% endcomment %}
</script>
{% endblock js %}
