{% extends 'manager/include/include.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">사용자 정보</h1>
    <p class="mb-4">사용자 목록</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">사용자 정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <table class="table table-bordered table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th>이름</th>
                                <th>전화번호</th>
                                <th>생년월일</th>
                                <th>성별</th>
                                <th>키</th>
                                <th>몸무게</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users.users %}   
                            <tr class="odd">
                                <td class="sorting_1">{{user.name}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.birth_date}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.height}}cm</td>
                                <td>{{user.weight}}kg</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script>
    {% comment %} $("#dataTable").DataTable(); {% endcomment %}
</script>
{% endblock js %}
